@mixin chipColorBorder($color) {
  width: 1.25em;
  height: 1em;
  border-radius: 50%;
  border: 0.16em dashed $color;
  box-shadow: 1px -1px 5px #333;
  margin-bottom: -1.05em;
}

@mixin chip-position($top, $right, $bottom, $left) {
  position: absolute;
  z-index: 50;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

.chips-container {
  display: flex;
  flex-direction: column-reverse;
}

.chip-1 {
  background-color: #fff;
  @include chipColorBorder(#11f);
}

.chip-2 {
  background-color: #f00;
  @include chipColorBorder(#fff);
}

.chip-3 {
  background-color: #11f;
  @include chipColorBorder(#fff);
}

.chip-4 {
  background-color: #17cd64;
  @include chipColorBorder(#fff);
}

.chip-5 {
  background-color: #ff6f13;
  @include chipColorBorder(#fff);
}

.chip-6 {
  background-color: #000;
  @include chipColorBorder(#fff);
}

.chip-position-0 {
  @include chip-position(33%, auto, auto, 40%);
}

.chip-position-1 {
  @include chip-position(33%, 40%, auto, auto);
}

.chip-position-2 {
  @include chip-position(37%, 33%, auto, auto);
}

.chip-position-3 {
  @include chip-position(47%, 30%, auto, auto);
}

.chip-position-4 {
  @include chip-position(auto, 35%, 40%, auto);
}

.chip-position-5 {
  @include chip-position(auto, 49%, 37%, auto);
}

.chip-position-6 {
  @include chip-position(auto, auto, 40%, 35%);
}

.chip-position-7 {
  @include chip-position(47%, auto, auto, 30%);
}

.chip-position-8 {
  @include chip-position(37%, auto, auto, 33%);
}

.chip-label {
  color: #fff;
  text-align: center;
  margin-bottom: 5px;
}
