@import './_var.scss';
@import './_table.scss';
@import './_tablePage.scss';
@import './_seat.scss';
@import './_cardActions.scss';
@import './_chips.scss';
@import './_card.scss';
@import './_nav.scss';
@import './_lobby.scss';
@import './_createTable.scss';
@import './_tableInfo.scss';
@import './_timer.scss';
@import './_createName.scss';

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}
